In [2]:
import pandas as pd
df = pd.read_csv("wpw.csv")

                Team      2      3      4      5      6      7
40   PlayIn-MSU-UCLA  0.346  0.085  0.027  0.010  0.004  0.003
48  PlayIn-WICH-DRKE  0.210  0.044  0.010  0.003  0.001  0.001
62   PlayIn-MSM-TXSO  0.027  0.013  0.007  0.004  0.002  0.001
63   PlayIn-NORF-APP  0.024  0.011  0.007  0.004  0.002  0.001

In [4]:
df.loc[df["Team"].str.contains("PlayIn")].append(df.loc[df["Team"].str.contains("PlayIn")])

                Team      2      3      4      5      6      7
40   PlayIn-MSU-UCLA  0.346  0.085  0.027  0.010  0.004  0.003
48  PlayIn-WICH-DRKE  0.210  0.044  0.010  0.003  0.001  0.001
62   PlayIn-MSM-TXSO  0.027  0.013  0.007  0.004  0.002  0.001
63   PlayIn-NORF-APP  0.024  0.011  0.007  0.004  0.002  0.001
40   PlayIn-MSU-UCLA  0.346  0.085  0.027  0.010  0.004  0.003
48  PlayIn-WICH-DRKE  0.210  0.044  0.010  0.003  0.001  0.001
62   PlayIn-MSM-TXSO  0.027  0.013  0.007  0.004  0.002  0.001
63   PlayIn-NORF-APP  0.024  0.011  0.007  0.004  0.002  0.001